<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/style.css">



</head>

<body>
  <header>
    <a href="/" style="left: 100px;">CRM</a>
    <a href="/reg" style="right: 350px;">USER SINGUP</a>
    <a href="/login" style="right: 150px;">USER LOG IN</a>
    <a href="/login" style="right: 50px;"> ADMIN</a>

  </header>

  <!-- - -->
  <div style="display: flex; gap: 0; flex-direction: column;">
    <div class="div1">

      <p> Small CRM</p>
      <p>Develop using Mongodb and Express</p>
      <a  class="btn" href="/reg">User SINGUP</a>
    </div>

    
 
      <footer>
        <p>copyright</p>
      </footer>
   
  

</body>

</html>