<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
    <div style="display: flex;">

  
    <div>
        
        <p class="p1">Sign in to CRM</p>
       
    </div>
    


    <div class="container">
    <form action="/submit" method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name">
        <br><br>
      
        <label for="Email">Email</label>
        <br>
        <input type="email" name="email" id="email">
        <br><br>
        <label for="password">password</label>
        <br>
        <input type="password" name="password" id="password">
        <br><br>
        <label for="Re-password">Re-password</label>
        <br>
        
        <input type="password" name="Repassword" id="passworda">
        <br><br>
        <label for="conatct us">conatct no</label>
        <br>
        <input type="text" name="contact" id="conatct">
        <br><br>
        <label for="gender">gender</label>
        <br>
        <input type="radio" name="gender" id="gender" value="male" style="margin-top: 20px;">Male
        <input type="radio" name="gender" id="gender" value="Female">Female
        <br><br>

        <button type="submit">Submit</button>
        
        
    </form>
    </div>

      </div>
</body>
</html>